* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#screen {
  display: block;
  height: 200px;
  width: 1080px;
  background-color: #fff;
  margin: 2vh auto;
  padding: 30px;
  font-size: large;
  border: 5px solid #333;
  border-radius: 5px;
}
