* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}
body {
  background-image: url("back.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.nav {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  margin-top: 10rem;
  padding: 1rem 2rem;
}

.nav-comp {
  color: rgb(78, 55, 28);
  display: flex;
  border: 1px solid black;
}

header {
  text-align: center;
  margin: 2rem;
  border: 1px solid;
  letter-spacing: 0.35rem;
  color: rgb(16, 48, 88);
}
.square {
  width: 30%;
  height: 30%;
  border: 1px solid black;
}
#grid {
  margin: 20px auto;
  border: solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 55vw;
  height: 50vh;
}
.mole {
  background-image: url("mole.jpg");
  background-size: cover;
}
