* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("back.png");
  background-repeat: no-repeat;
}
.nav {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.score {
  display: flex;
  border: 1px solid black;
}
.time {
  display: flex;
  border: 1px solid black;
}

header {
  background-color: aqua;
  text-align: center;
}
.square {
  width: 33.3%;
  height: 33.3%;
  border: 1px solid black;
}
#grid {
  margin: 100px auto;
  border: solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 400px;
  height: 400px;
}
.mole {
  background-image: url("mole.jpg");
  background-size: cover;
}
